/* ADVOCACY ICON */
 .advicon{
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
	  
.prof_pic_icon{
		height: 50px;
		width: 50px;
		margin-right: 25px;
		}
.header {
		width: 20px;
		height: 15px;
		}
.logout{
		border-radius: 0px;
		height: 10px;
		width: 2px;
		font-size: 10px;
		margin: 10px;
		}
.img_event_size{
	height: 300px;
	width: 248px;
}
.mod{
	margin: 10px;
}

/* CREATE EVENT CSS */
.instructions{
	color: red;
}


